.ui-banner {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
}

.ui-banner-overlay {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(124, 124, 124, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  padding: 4rem 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-banner-content {
  width: 70%;
  text-align: left;
  z-index: 2;
  margin: 3rem 0 3rem 0;
}

.ui-banner-title {
  font-size: 4rem;
  margin: 0 0 5rem 0;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}

/* Адаптивность */
@media (max-width: 768px) {
  .ui-banner-title {
    font-size: 2rem;
    margin: 0 0 2rem 0;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  }
}


.ui-banner-benefits {
  list-style: none;
  color: #ffffff;
  padding: 0;
  margin: 0 0 5rem 0;
  text-align: left;
  display: inline-block;
}

.ui-banner-benefit {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  padding-left: 0.5rem;
}

.ui-banner-benefit:last-child {
  margin-bottom: 0;
}

.ui-banner-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: left;
  flex-wrap: wrap;
}

.ui-banner-button {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(164, 164, 164, 0.1);
  padding: 1.1rem 4rem;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(3px);
  box-sizing: border-box;
  min-width: 200px;
  color: #ffffff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
}

.ui-banner-button:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
